/* ===== Variables ===== */

/* ===== Colors ===== */
$c-text-primary: #171717;
$c-text-secondary: #b3b5c6;
$c-text-action: #4f4f4f;
$c-accent-primary: #f02a4a;
$c-border-primary: #eff1f6;
$c-background-primary: #ffffff;
$c-background-secondary: #e9ecf4;

$c-background-blue: #03a9f4;


$background-error-box: #fff9ee;
$erorr-box-border: #fff1d8;
$text-primary: #171717;

